In [1]:
import pandas as pd
df = pd.read_csv('reliability.csv')
df

         A       B
0    15.90   45.29
1    15.90   41.63
2     7.79    0.00
3     7.79    0.00
4     7.79    0.00
..     ...     ...
281  15.09  125.24
282  13.32   23.44
283  13.32   23.78
284  13.32   23.78
285  10.05  109.65

[286 rows x 2 columns]

In [8]:
df['C'] = round(df.A*0.5 + df.B*0.5,2)
df['D'] = round(df.A*0.7 + df.B*0.3,2)
df['E'] = round(df.A*0.8 + df.B*0.2,2)
df

         A       B      C      D      E
0    15.90   45.29  30.60  24.72  21.78
1    15.90   41.63  28.76  23.62  21.05
2     7.79    0.00   3.90   5.45   6.23
3     7.79    0.00   3.90   5.45   6.23
4     7.79    0.00   3.90   5.45   6.23
..     ...     ...    ...    ...    ...
281  15.09  125.24  70.16  48.13  37.12
282  13.32   23.44  18.38  16.36  15.34
283  13.32   23.78  18.55  16.46  15.41
284  13.32   23.78  18.55  16.46  15.41
285  10.05  109.65  59.85  39.93  29.97

[286 rows x 5 columns]

In [9]:
df.to_csv('rel.csv',index=False)