In [1]:
import warnings
warnings.filterwarnings("ignore")
import algorithms_class as alg

In [2]:
import pandas as pd

df = pd.read_csv("character.csv")
df

,Character,Universe,Strength,Speed,Intelligence,SpecialAbilities,Weaknesses,BattleOutcome
0,Wonder Woman,Marvel,7,8,3,Telekinesis,Kryptonite,0
1,Iron Man,Marvel,4,7,9,Telekinesis,Kryptonite,0
2,Iron Man,DC Comics,8,7,5,Telekinesis,Magic,0
3,Spider-Man,DC Comics,5,6,10,Telekinesis,Kryptonite,0
4,Flash,Marvel,7,6,2,Invisibility,Magic,0
...,...,...,...,...,...,...,...,...
2346,Superman,DC Comics,9,8,5,Super Strength,Kryptonite,0
2347,Superman,DC Comics,2,5,8,Super Strength,Magic,1
2348,Flash,DC Comics,5,3,3,Telekinesis,Wooden Stake,0
2349,Batman,DC Comics,5,10,6,Flight,Wooden Stake,1
2350,Spider-Man,Marvel,8,1,5,Super Strength,Magic,1

In [3]:
df.columns

Index(['Character', 'Universe', 'Strength', 'Speed', 'Intelligence',
       'SpecialAbilities', 'Weaknesses', 'BattleOutcome'],
      dtype='object')

In [4]:
df

,Character,Universe,Strength,Speed,Intelligence,SpecialAbilities,Weaknesses,BattleOutcome
0,Wonder Woman,Marvel,7,8,3,Telekinesis,Kryptonite,0
1,Iron Man,Marvel,4,7,9,Telekinesis,Kryptonite,0
2,Iron Man,DC Comics,8,7,5,Telekinesis,Magic,0
3,Spider-Man,DC Comics,5,6,10,Telekinesis,Kryptonite,0
4,Flash,Marvel,7,6,2,Invisibility,Magic,0
...,...,...,...,...,...,...,...,...
2346,Superman,DC Comics,9,8,5,Super Strength,Kryptonite,0
2347,Superman,DC Comics,2,5,8,Super Strength,Magic,1
2348,Flash,DC Comics,5,3,3,Telekinesis,Wooden Stake,0
2349,Batman,DC Comics,5,10,6,Flight,Wooden Stake,1
2350,Spider-Man,Marvel,8,1,5,Super Strength,Magic,1

In [5]:
target = 'BattleOutcome'
features = ['Character', 'Universe', 'Strength', 'Speed', 'Intelligence',
       'SpecialAbilities', 'Weaknesses']
X = df[features]
y = df[target]
X_encoded = alg.encoding_categorical_variables(X)
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif, mutual_info_classif, chi2

X_new = SelectKBest(mutual_info_classif, k=3).fit_transform(X_encoded, y)
X_new

array([[7, 3, 1],
       [4, 9, 1],
       [8, 5, 0],
       ...,
       [5, 3, 0],
       [5, 6, 0],
       [8, 5, 0]])

In [30]:
selected_features = ['Strength','Intelligence','Weaknesses']

In [31]:
df[selected_features]

      Strength  Intelligence    Weaknesses
0            7             3    Kryptonite
1            4             9    Kryptonite
2            8             5         Magic
3            5            10    Kryptonite
4            7             2         Magic
...        ...           ...           ...
2346         9             5    Kryptonite
2347         2             8         Magic
2348         5             3  Wooden Stake
2349         5             6  Wooden Stake
2350         8             5         Magic

[2351 rows x 3 columns]

In [32]:
classifiers = ['DecisionTree','LogisticRegression','KNN','RandomForest','AdaBoost','SVC']

TUNING

In [33]:
import numpy as np

In [62]:
classifier = 'DecisionTree'
param = 110
perf_mean = []
for i in range(0,8):
    perf_mean.append(alg.classification(X[selected_features], y, classifier, param, 8))
np.median(perf_mean)

Training for DecisionTree...
0.7195615329335309
Training for DecisionTree...
0.7217623174150514
Training for DecisionTree...
0.728120842756717
Training for DecisionTree...
0.7345000369437894
Training for DecisionTree...
0.728834835560797
Training for DecisionTree...
0.7266688597999558
Training for DecisionTree...
0.7254916697308404
Training for DecisionTree...
0.7301713901305553

np.float64(0.7273948512783364)

In [63]:
classifier = 'LogisticRegression'
param = 1
perf_mean = []
for i in range(0,8):
    perf_mean.append(alg.classification(X[selected_features], y, classifier, param, 8))
np.median(perf_mean)

Training for LogisticRegression...
0.7621560726962129
Training for LogisticRegression...
0.7678108899190084
Training for LogisticRegression...
0.7572144911667202
Training for LogisticRegression...
0.756463537629597
Training for LogisticRegression...
0.7733390676816101
Training for LogisticRegression...
0.7629094756119479
Training for LogisticRegression...
0.7534251860652299
Training for LogisticRegression...
0.7620184340394689

np.float64(0.7620872533678409)

In [68]:
classifier = 'KNN'
param = 14
perf_mean = []
for i in range(0,8):
    perf_mean.append(alg.classification(X[selected_features], y, classifier, param, 8))
np.median(perf_mean)

Training for KNN...
0.7301888371057048
Training for KNN...
0.7447836433569757
Training for KNN...
0.7395551116821735
Training for KNN...
0.7547358643258286
Training for KNN...
0.7311431742253955
Training for KNN...
0.7431632934823739
Training for KNN...
0.7448028004185456
Training for KNN...
0.7393647425858688

np.float64(0.7413592025822737)

In [78]:
classifier = 'RandomForest'
param = 150
perf_mean = []
for i in range(0,8):
    perf_mean.append(alg.classification(X[selected_features], y, classifier, param, 8))
np.median(perf_mean)

Training for RandomForest...
0.7241341354372692
Training for RandomForest...
0.7235146889787472
Training for RandomForest...
0.7185328328298229
Training for RandomForest...
0.7273353291725961
Training for RandomForest...
0.7231236710753891
Training for RandomForest...
0.7153171793567903
Training for RandomForest...
0.721640212538986
Training for RandomForest...
0.7301173085911199

np.float64(0.7233191800270682)

In [85]:
classifier = 'AdaBoost'
param = 110
perf_mean = []
for i in range(0,8):
    perf_mean.append(alg.classification(X[selected_features], y, classifier, param, 8))
np.median(perf_mean)

Training for AdaBoost...
0.7543860983040752
Training for AdaBoost...
0.7574443779658977
Training for AdaBoost...
0.7582640286350497
Training for AdaBoost...
0.7620385680668653
Training for AdaBoost...
0.7623822941195435
Training for AdaBoost...
0.756097632880298
Training for AdaBoost...
0.7658759726898989
Training for AdaBoost...
0.7637866368246338

np.float64(0.7601512983509575)

In [86]:
classifier = 'SVC'
param = 1
perf_mean = []
for i in range(0,8):
    perf_mean.append(alg.classification(X[selected_features], y, classifier, param, 8))
np.median(perf_mean)

Training for SVC...
0.7137075391436274
Training for SVC...
0.7193154123799879
Training for SVC...
0.7141917360595671
Training for SVC...
0.7309354871011597
Training for SVC...
0.7060318788853752
Training for SVC...
0.7102741330866951
Training for SVC...
0.7329339788566213
Training for SVC...
0.7189041730300658

np.float64(0.7165479545448165)